@using Milou.Web.ClientResources
@{
    string moduleScriptTag = ClientReference.CreateModuleScriptTag("Content/js/Custom.js");
    string scriptTag = ClientReference.CreateScriptTag("Content/js/Custom.js");
    string cssLinkHtmlElements = ClientReference.CreateCssLinkHtmlElements("Content/css/Custom.css");
}
<div class="jumbotron">
    <h1>Milou.Web.ClientResources</h1>
    <p class="lead">Sample app</p>
    <p>
        <a href="https://github.com/milou-se/Milou.Web.ClientResources" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div>
        <h2>Example of module script tag</h2>
        <div>
            @@ClientReference.CreateModuleScriptTag(&quot;Content/js/Custom.js&quot;)
        </div>

        <div style="border: 1px solid #7d7d7d; padding: 7px">
            @moduleScriptTag
        </div>
    </div>
    <div>
        <h2>Example of script tag</h2>

        <div>
            @@ClientReference.CreateScriptTag(&quot;Content/js/Custom.js&quot;)
        </div>

        <div style="border: 1px solid #7d7d7d; padding: 7px">
            @scriptTag
        </div>


    </div>
    <div>
        <h2>Example of css files split in multiple files</h2>

        <div>
            @@ClientReference.CreateCssLinkHtmlElements(&quot;Content/css/Custom.css&quot;);
        </div>

        <div style="border: 1px solid #7d7d7d; padding: 7px">
            @cssLinkHtmlElements
        </div>

    </div>
    <div>
        <h2>Other static files</h2>

        <div style="border: 1px solid #7d7d7d; padding: 7px">
            <a href="~/vstatic/@GlobalVersion.Current/content/test.html">Test.html</a>
            <a href="~/vstatic/@GlobalVersion.Current/content/test.json">Test.json</a>
            <a href="~/vstatic/@GlobalVersion.Current/content/test.txt">Test.txt</a>
        </div>
    </div>
</div>